/*ContentArea.js*/


/*Home.js*/
.log-pt {
    /*border: 1px solid black;*/
    margin: 50px;
}
.log-food {
    /*border: 1px solid black;*/
    margin: 50px;
}
.log-projects {
    /*border: 1px solid black;*/
    margin: 50px;
}