

/*ContentArea.js*/

/*end ContentArea.js*/


/*Home.js*/
.div-home {
    width: 600px;
}
.form-check {
    display: block;
    margin: 20px auto;
}



.div-food-log {
    margin: 20px;
}
/*end Home.js*/